<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block css_files %} {% endblock %}
</head>
<body>
    <header> 
        <h1>Lavender Peach</h1>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'movies_index' %}">Movies</a></li>
            <li><a href="{% url 'television_index' %}">Television</a></li>
            <li><a href="{% url 'books_index' %}">Books</a></li>
            <li><a href="{% url 'video_games_index' %}">Video Games</a></li>
        </ul>
    </nav>
    <content>
        <newsSection>
            <h2>What's New?</h2>
            {% block news_content %}
            {% comment %} API call(s) for entertainment news {% endcomment %}
            {% endblock %}
        </newsSection>

        <featured>
            <h2>Featured</h2>
            {% block featured_content %}
            {% comment %} Movie Carousel showing most popular movies {% endcomment %}
            {% endblock %}
        </featured>

        <following>
            <h2>From Friends</h2>
            {% block following_content %}
    {% comment %} Add logic to fetch and display movies logged by people following {% endcomment %}
            {% endblock %}
        </following>
    
        <recommendations>
            <h2>You Might Like...</h2>
            {% block recommendation %}
            {% comment %} Write logic for a recommendation system to provide feedback to users. {% endcomment %}
            {% endblock %}
        </recommendations>

    </content>

    <footer>
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#press">Press</a></li>
            <li><a href="#careers">Careers</a></li>
            <li><a href="#events">Events</a></li>
            <li><a href="#terms">Terms</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </footer>
</body>
</html>